@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,800;1,900&display=swap');

/* General */
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5EBDC;
}

header {
    z-index: 100;
    width: 100%;
    background-color: bisque;
}

/* PopUp */

.popup-class {
    background-color: beige;
}


/* Productos */

#pills-home-tab {
    background-color: bisque;
    color: #000;
    transition: all .6s;
}

#pills-home-tab:hover{
    transition: all .6s;
    background-color: #f0c693;
}

#pills-products-tab {
    background-color: bisque;
    color: #000;
    transition: all .6s;
}

#pills-products-tab:hover{
    transition: all .6s;
    background-color: #f0c693;
}

#pills-carrito-tab {
    background-color: bisque;
    color: #000;
    transition: all .6s;
}

#pills-carrito-tab:hover {
    transition: all .6s;
    background-color: #f0c693;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
    margin-right: 18px;
    font-weight: bold;
}

.titulo-h2 {
    font-weight: bold;
}

.description {
    height: 25px;
    overflow: hidden;
    transition:  .3s ease-in ;
}

.description:hover {
    height: 118px;
}

.card {
    background-color: bisque ;
}

.card-img-top {
    height: 400px;
}

.btn {
    background-color: beige;
    border: 1px solid black;
    color: #000;
    transition: all .6s;
    margin-top: 10px;
}

.btn:hover {
    transition: all .6s ;
    background-color: #f0c693;
    color: #000;
    border: 1px solid black;
}

/* Carrito */

.carrito {
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__productos {
    display: flex;
}

.table__productos > img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 10px;
}

p {
    font-weight: bold;
}

.table__cantidad > input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

/* Footer */

footer {
    background-color: bisque;
}

footer p {
    color: #000;
}